* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::placeholder {
  color: #eeeeee !important;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.6;
  }
}

.skeleton {
  animation: pulse 1.5s ease-in-out infinite;
}
